@import "tailwindcss";

:root {
  /* --background: #141414; */
  --background: #1a1a1a;
  --foreground: #ebebeb;
  --accent: #da7900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-array: "Array";
}

@font-face {
  font-family: "Array";
  src: url("/fonts/Array-Regular.otf") format("opentype");
  font-weight: 100 300 500 800 900;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-array), Arial, Helvetica, sans-serif;
}

/* Spotlight section styles */
.spotlight {
  position: relative;
  width: 100%;
  height: 100svh;
  /* padding: 2rem; */
  overflow: "visible";
  /* background-color: var(--spotlight-dark); */
}

.project-index h1,
.project-images,
.project-names p {
  will-change: transform;
}

.project-img {
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  .project-images {
    width: calc(100% - 4rem) !important;
    gap: 10svh !important;
  }

  .project-names p {
    /* color: #fff !important; */
  }
}
